# ignore the following folders
tensorflow/workspace/images/collectedimages/* 
tensorflow/workspace/images/sampleimages
tensorflow/workspace/images/transformed_images/ 
tensorflow/workspace/images/train/* 
tensorflow/workspace/images/test/* 
tensorflow/workspace/annotations/*
tensorflow/models/
tensorflow/workspace/models/my_ssd_mobnet
.venv/